@use "../abstracts" as *;

.project {
  margin-top: clamp(
    84px,
    84px + (232 - 84) * ((100vw - 375px) / (1440 - 375)),
    232px
  );

  @include desktop {
    padding: 0;
  }
}
.project__main {
  max-width: 1218px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 24px;

  @include desktop {
    padding: 0;
  }
}
.project__hero {
  display: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  column-gap: 5%;

  margin-bottom: 88px;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, auto);
    margin-bottom: 132px;
    padding: 0 37px;
  }

  @include tablet-hero {
    padding: 0 24px;
  }
}

.project__hero-col {
  flex: 1;
}
.project__tags {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 44px;
  margin-top: 22px;
  flex-direction: column;
  gap: 66px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @include tablet {
    margin-top: unset;
    display: none;
    gap: unset;
    flex-direction: row;
  }
}
.project-hashtags {
  justify-content: center;
  width: 100%;
  @include tablet {
    flex: 1;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
.project__tags-list {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  @include tablet {
    justify-content: flex-end;
  }
}
.project__heading {
  text-align: center;
  margin-bottom: 44px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.15em;
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.25em;
  text-decoration-color: #bb6c2e;

  @include tablet {
    flex: 1;
    text-align: justify;
  }
}

.project__hero-cta {
  width: 100%;
  display: flex;
  padding: 10px 18px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #d3864a;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  margin: 44px 0;

  @include tablet {
    margin: 35px 0;
    width: fit-content;
    height: fit-content;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
  }
}

.project__hero-images {
  display: flex;
  justify-content: center;
  height: 100%;
  max-height: 812px;
  width: 100%;

  margin-bottom: 22px;
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  @include tablet {
    flex: 1;
    justify-content: flex-end;

    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}
.project__hero-image--small {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 33px 24px;
  background-color: #e3e3e3;
  border-radius: 32px;

  @include tablet {
    margin: unset;
  }
}
.project__hero-image--small img {
  width: 100%;
  object-fit: contain;
}

.project__text--intro {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  padding: 44px 0;

  @include tablet {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
.project__text--left,
.project__text--right {
  padding-top: clamp(
    29px,
    29px + (44 - 29) * ((100vw - 375px) / (1440 - 375)),
    44px
  );
}

.project__list-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;

  margin-bottom: clamp(
    64px,
    calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
    132px
  );
  gap: 46px;
  border-radius: 32px;

  @include tablet {
    background-color: var(--dl-color-landing-secondary);
    color: var(--dl-color-landing-accent);
    flex-direction: row;
    gap: unset;
    margin: unset;
    padding: 88px 0 66px;
  }
}
.project__list-group > :nth-child(2) {
  @include tablet {
    border-inline: 1px solid #736659;
  }
}
.project__list-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    display: block;
  }
}

.project__list-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 33px 0 24px;
  gap: 24px;
  @include tablet {
    flex-direction: row;
    margin: 0 0 66px 0;
    gap: clamp(16px, 2vw, 44px);
  }
}
.prj-lists-icon img {
  color: var(--dl-color-landing-text);
  height: 80px;
  @include tablet {
    height: clamp(
      48px,
      calc(48px + (80 - 48) * ((100vw - 768px) / (1440 - 768))),
      80px
    );
  }
}

.prj-lists-icon--3 img {
  height: 80px;
  @include tablet {
    height: clamp(
      48px,
      calc(48px + (80 - 48) * ((100vw - 768px) / (1440 - 768))),
      80px
    );
  }
  color: var(--dl-color-landing-text);
}
.prj-lists-title {
  font-family: Darker Grotesque;
  font-weight: 700;
  font-size: clamp(
    30px,
    calc(30px + (40 - 30) * ((100vw - 768px) / (1440 - 768))),
    40px
  );

  line-height: 125%;
  letter-spacing: 0.02em;
  text-decoration: underline solid;
  text-underline-offset: 23.5%;
  text-decoration-thickness: 13.5%;
  text-decoration-color: #bb6c2e;

  margin-bottom: clamp(
    32px,
    32px + (60 - 32) * ((100vw - 375px) / (1440 - 375)),
    60px
  );

  color: var(--dl-color-landing-text);
  @include tablet {
    color: inherit;
    text-decoration: none;
    margin-bottom: unset;
  }
}

.prj-list {
  font-family: Work Sans;
  font-weight: 500;
  margin: 36px 0 12px 22px;
  font-size: clamp(
    18px,
    18px + (24 - 18) * ((100vw - 375px) / (1440 - 375)),
    24px
  );

  line-height: 175%;
  letter-spacing: 0.02em;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5em;
  @include tablet {
    width: unset;
    margin: 36px 24px;
  }
}
.prj-list-item::marker {
  font-size: 1em;
  color: var(--dl-color-landing-text);
  @include tablet {
    color: var(--dl-color-landing-accent);
  }
}
.prj-desc-cols {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: clamp(
    88px,
    calc(88px + (132 - 88) * ((100vw - 375px) / (1440 - 375))),
    132px
  );
  @include tablet {
    gap: unset;
    flex-direction: row;
  }
}
.prj-desc-col {
  flex: 1;

  @include tablet {
    padding-top: 22px;
    padding-bottom: 0;
    padding-inline: clamp(
      24px,
      calc(24px + (55 - 24) * ((100vw - 768px) / (1440 - 768))),
      55px
    );
  }
}
.prj-col__heading {
  text-align: center;
  order: 1;

  @include tablet {
    margin-bottom: 44px;
  }
}

.prj-wid {
  margin-bottom: clamp(
    88px,
    calc(88px + (132 - 88) * ((100vw - 375px) / (1440 - 375))),
    132px
  );

  @include tablet {
    padding-top: 46px;
    padding-inline: clamp(
      24px,
      calc(24px + (55 - 24) * ((100vw - 768px) / (1440 - 768))),
      55px
    );
    display: flex;
    flex-direction: column;
  }
}
.project__text--wide {
  padding-top: 44px;

  @include tablet {
    order: 3;
    padding-bottom: 46px;
  }
}

.prj-wid-img {
  border-radius: 32px;
  max-height: 395px;
  display: none;
  @include tablet {
    display: block;
    order: 2;
  }

  & img {
    width: 100%;
  }
}
.prj-toc {
  background-color: var(--dl-color-landing-secondary);
  border-radius: 32px;

  margin-bottom: clamp(
    44px,
    calc(44px + (132 - 44) * ((100vw - 375px) / (1440 - 375))),
    132px
  );

  padding: 36px 39px;

  @include tablet {
  }
}
.prj-toc-title {
  font-family: Darker Grotesque;
  font-weight: 800;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #403930;
}
.prj-toc-list {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 24px;
  line-height: 175%;
  letter-spacing: 0.02em;
}
.prj-toc-wrp {
  display: flex;
  justify-content: center;
  text-decoration: underline solid;
  text-decoration-color: var(--dl-color-landing-accent);
  color: var(--dl-color-landing-accent);
}
.discover,
.define,
.design,
.validate {
  scroll-margin-top: clamp(
    40px,
    calc(40px + (100 - 40) * ((100vw - 440px) / (1440 - 440))),
    100px
  );
}
.discover-header {
  display: flex;
  flex-direction: column;
  gap: 66px;
  align-items: center;
  padding: 44px 0;

  @include tablet {
    flex-direction: row;
  }
}
.discover-icon-wrp {
  --icon-size: clamp(
    120px,
    calc(120px + (192 - 120) * ((100vw - 375px) / (1440 - 375))),
    192px
  );

  width: var(--icon-size);
  height: var(--icon-size);
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  flex: 0 0 var(--icon-size);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dl-color-landing-secondary);
}

.discover-icon-bg {
  background-color: var(--dl-color-landing-main);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--icon-size) * 0.7);
  height: calc(var(--icon-size) * 0.7);
}
.discover-icon {
  width: calc(var(--icon-size) * 0.47);
  height: auto;
}
.discover-title {
  width: 100%;
  text-align: center;

  @include tablet {
    text-align: left;
  }
}
.discover-title-main {
  font-family: Darker Grotesque;
  font-weight: 800;
  font-size: clamp(
    50px,
    calc(50px + (60 - 50) * ((100vw - 440px) / (1440 - 440))),
    60px
  );

  line-height: 150%;
  @include tablet {
    line-height: 175%;
  }
}
.discover-title-nr {
  color: #bb6c2e;
}

.dvr-desc {
  gap: 44px;
  overflow: auto;
  margin-bottom: clamp(
    64px,
    calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
    132px
  );

  @include tablet {
    display: flex;
    padding-top: 66px;
    padding-bottom: 66px;
    padding-inline: clamp(
      24px,
      calc(24px + (55 - 24) * ((100vw - 768px) / (1440 - 768))),
      55px
    );
  }

  &--mobile {
    display: block;

    @include tablet {
      display: none;
    }
  }

  &--desk {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}
.dvr-desc-text {
  font-family: Work Sans;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 175%;
  letter-spacing: 0.02em;
  text-align: justify;

  @include tablet {
    text-align: right;
  }
}
.dvr-desc-icon-wrp {
  display: flex;
  float: right;

  width: 134px;
  height: 142px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

  flex-shrink: 0;

  margin-left: 24px;
  margin-bottom: 8px;

  @include tablet {
    display: flex;
    margin: 0 0 16px 0;
    float: none;
  }
}
.dvr-desc-icon-wrp-1 {
  background-color: var(--dl-color-landing-accent);
  display: flex;

  @include tablet {
  }
}
.dvr-desc-icon-wrp-2 {
  background-color: #bb6c2e;
}
.dvr-desc-icon-wrp-3 {
  background-color: var(--dl-color-landing-accent);
  float: right;
}

.dvr-desc-icon-bg {
  width: 104px;
  height: 104px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dl-color-landing-main);
}
.dvr-sticky {
  padding: 18px 0;
  margin-bottom: clamp(
    88px,
    calc(88px + (132 - 88) * ((100vw - 375px) / (1440 - 375))),
    132px
  );
}
.dvr-sticky-img-wrp {
  width: 100%;
  max-width: 1218px;
  height: 383px;
  border-radius: 32px;
  overflow: hidden;
}
.dvr-sticky-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.dvr-sticky-caption,
.dvr-section-img-caption {
  font-family: Work Sans;
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dl-color-landing-accent);
  padding-top: 9px;
  display: inline-block;
  width: 100%;
}

.dvr-section-text-wrp {
  display: flex;
  flex-direction: column;
  gap: 36px;
  flex: 1;
  margin-bottom: 66px;
  justify-content: center;

  @include tablet {
    margin-bottom: unset;
    padding: 0 48px;
  }
}
.dvr-section--4 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    margin-bottom: clamp(
      64px,
      calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
      132px
    );
  }
}
.dvr-section--1 {
  margin-bottom: clamp(
    64px,
    calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
    132px
  );
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}
.dvr-section-img-wrp {
  flex: 1;

  @include tablet {
    padding: 7px 0 0 55px;
  }
}
.dvr-section-img {
  width: 100%;
  height: 383px;
  border-radius: 24px;
  background-color: var(--dl-color-landing-secondary);
  padding-bottom: 9px;
  object-fit: cover;
}

.dvr-section--2 {
  padding: 44px 0;
  margin-bottom: 69px;

  @include tablet {
    padding: 44px 55px;
  }
}

.section {
  &--compact {
    margin-bottom: clamp(
      64px,
      calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
      132px
    );

    @include tablet {
      padding: 14px 55px;
    }
  }

  &--wide {
    padding: 44px 0;
    margin-bottom: 69px;
    @include tablet {
      padding: 44px 55px;
    }
  }
}
.dvr-section--6 {
  margin-bottom: 69px;
  @include tablet {
    padding: 44px 55px;
  }
}
.dvr-section--3 {
  padding: 64px 0;
  margin-bottom: 66px;

  @include tablet {
    padding: unset;
    margin-bottom: 69px;
  }
}
.dvr-section3-img {
  width: 100%;
  max-height: 545px;
  margin-bottom: 9px;
  border-radius: 32px;
  object-fit: cover;
}

.dvr-section4-text-wrp {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  order: 1;
  padding: 36px 0;
  margin: 22px 0 66px;

  @include tablet {
    order: 2;
    padding: 0 55px;
    margin: unset;
  }
}
.dvr-section4-img-wrp {
  flex: 1;
  order: 2;
  @include tablet {
    order: 1;
    padding: 22px 55px 14px 0;
  }
}

.dvr-section5-img-wrp {
  flex: 1;
  @include tablet {
    padding: 0 26.5px;
  }
}
.dvr-section--5 {
  display: flex;
  margin-bottom: clamp(
    64px,
    calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
    132px
  );
  flex-direction: column;
  gap: 66px;
  @include tablet {
    gap: unset;
    flex-direction: row;
  }
}
.dvr-desc-text-wrp {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.dvr-desc-text-title {
  display: none;
  font-family: Darker Grotesque;
  font-weight: 800;
  font-size: 40px;
  line-height: 175%;
  color: #bb6c2e;

  @include tablet {
    display: block;
  }
}
.dvr-desc-text-title {
  text-align: end;
}
.dvr-desc--6 {
  padding: 44px 0;

  @include tablet {
    padding-top: 44px;
    padding-bottom: 44px;
    padding-inline: clamp(24px, 24px + 31 * (100vw - 768px) / 672, 55px);
  }
}
.quote {
  font-family: Darker Grotesque;
  font-weight: 500;
  font-size: clamp(
    50px,
    calc(50px + (60 - 50) * ((100vw - 440px) / (1440 - 440))),
    60px
  );

  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #bb6c2e;
  margin-bottom: clamp(
    64px,
    calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
    132px
  );

  @include tablet {
    padding: 24px 55px 36px;
  }
}
.dvr-section--7 {
  padding: 44px 0;
  margin-bottom: clamp(
    64px,
    calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
    132px
  );
}
.dvr-section--8 {
  width: 100%;
  max-width: 100%;
  border-radius: 33px;
  margin-bottom: clamp(
    64px,
    calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
    132px
  );

  & img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}
.dvr-section--9 {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(
    64px,
    calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
    132px
  );
  flex-direction: column;

  @include tablet {
    align-items: unset;
    flex-direction: row;
  }
}

.dvr-section9-img {
  flex: 1 1 0;
  max-width: 251px;
}

.dvr-section9-img img {
  width: 100%;
  height: auto;
  display: block;
}

.dvr-section--10 {
  margin-bottom: clamp(
    64px,
    calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
    132px
  );
}
.dvr-section--11 {
  margin-bottom: 96px;
}
.dvr-section {
  display: flex;
  justify-content: center;
}
.dvr-section10-text {
  font-family: Darker Grotesque;
  font-weight: 400;
  font-size: clamp(
    50px,
    calc(50px + (60 - 50) * ((100vw - 440px) / (1440 - 440))),
    60px
  );

  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
}
.dsn10 {
  margin-bottom: clamp(
    64px,
    calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
    132px
  );
}
.prj-icons {
  display: flex;
  justify-content: space-evenly;
  max-width: 1218px;
  margin-bottom: 132px;
}
.prj-icon-wrp {
  display: flex;
  flex-direction: column;
  gap: 29px;
  color: #403930;
  justify-content: center;
  align-items: center;
}
.prj-icon__img-frame {
  border: clamp(
      6px,
      calc(6px + (12 - 6) * ((100vw - 440px) / (1440 - 440))),
      12px
    )
    solid var(--dl-color-landing-secondary);
  border-radius: 50%;
  padding: clamp(
    12px,
    calc(12px + (22 - 12) * ((100vw - 440px) / (1440 - 440))),
    22px
  );

  & img {
    height: clamp(
      50px,
      calc(50px + (90 - 50) * ((100vw - 350px) / (1440 - 350))),
      90px
    );
  }
}
.prj-icons__title {
  padding: 8px 12px 10px;
  background-color: var(--dl-color-landing-secondary);
  border-radius: 10px;
  font-family: Darker Grotesque;
  font-weight: 800;
  font-size: clamp(
    20px,
    calc(20px + (40 - 20) * ((100vw - 350px) / (1440 - 350))),
    40px
  );

  line-height: 125%;
  letter-spacing: 0%;
}
.ins {
  display: flex;
  justify-content: center;
  margin-bottom: clamp(
    64px,
    calc(64px + (132 - 64) * ((100vw - 375px) / (1440 - 375))),
    132px
  );
}
