@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin tablet-hero {
  @media screen and (min-width: 784px) {
    @content;
  }
}
@mixin desktop-sm {
  @media screen and (min-width: 1214px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
