:root {
  --dl-color-landing-main: #f7f3f0;
  --dl-color-landing-text: #2b251f;
  --dl-color-landing-accent: #736659;
  --dl-color-landing-primary: rgba(148, 79, 77, 1);
  --dl-color-landing-secondary: #f0eae1;
  --font-sans: "Work Sans", sans-serif;
  --font-display: "Darker Grotesque", sans-serif;
}
